ul li
  list-style-type none
body
  min-width 320px
  max-width 540px
  background #fff
  line-height 1.5em
  margin 20px auto

.type-container
  margin 0 15px 20px
  ul
    white-space nowrap
    overflow-x auto
    .type-item
      margin-right 10px
      display inline-block
      font-size: 16px
      color: #aaaaaa
      &.active
        color: #000
.img-container
  margin 0 15px 0 15px
  .img-item
    margin-bottom 20px
    img
      width 100%


