ul li
  list-style-type none
body
  min-width 320px
  max-width 540px
  background #fff
  line-height 1.5em
  margin 20px auto

.img-container
  margin 0 15px 0 15px
  .img-item
    margin-bottom 20px
    img
      width 100%


